* {
  box-sizing: border-box; }

body {
  margin: 0; }

img {
  width: 100%;
  height: auto;
  display: block; }

input[type="text"] {
  padding: 13px 24px;
  border: 1px solid #1e002a; }

.cp-cta {
  display: inline-block;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  padding: 13px 24px;
  font-size: 14px;
  border: 1px solid #1e002a;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out 0.1s;
  z-index: 0; }
  .cp-cta::before {
    content: '';
    position: absolute;
    background-color: #b80e80;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease-in-out, color 03s ease-in-out;
    z-index: -1; }
  .cp-cta:hover {
    color: #fff; }
  .cp-cta:hover::before {
    left: 0; }
  .cp-cta--alt {
    background-color: #f2c806;
    color: #1e002a; }

.cp-masthead {
  padding-bottom: 105px; }
  @media (max-width: 800px) {
    .cp-masthead .h-inner-wrapper {
      padding: 0; } }
  .cp-masthead__copy {
    position: absolute;
    color: #fff;
    bottom: -105px;
    font-family: "Cabin", sans-serif;
    padding: 32px 48px 48px;
    background-color: rgba(30, 0, 42, 0.9);
    z-index: 1;
    max-width: 535px;
    min-width: 535px; }
    @media (max-width: 800px) {
      .cp-masthead__copy {
        position: relative;
        bottom: 0;
        max-width: none;
        min-width: auto;
        width: 100%;
        padding: 20px; } }
  .cp-masthead__title {
    font-size: 44px;
    margin: 0 0 1em; }

.cp-header {
  background-color: #fff;
  padding: 24px 0; }
  .cp-header .h-outer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 40px; }
  .cp-header__navs {
    display: flex; }
    @media (max-width: 1150px) {
      .cp-header__navs {
        display: none; } }
  .cp-header__nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0; }
  .cp-header__nav li {
    list-style: none;
    margin: 0 32px 5px 0; }
    .cp-header__nav li:last-of-type {
      margin: 0 0 5px 0; }
  .cp-header__icon-nav li {
    margin: 0 5px; }
    .cp-header__icon-nav li:first-of-type {
      margin: 0 5px 0 15px; }
    .cp-header__icon-nav li:last-of-type {
      margin: 0; }
  .cp-header__icon-nav svg {
    width: 20px;
    height: 20px; }
  .cp-header__nav-link {
    text-decoration: none;
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    color: #1e002a; }
    .cp-header__nav-link--secondary {
      font-size: 14px;
      font-weight: 400;
      color: #63566f; }
  .cp-header__logo {
    width: 253px; }

.cp-header__mobile-toggle {
  display: none;
  position: absolute;
  width: 20px;
  height: 15px;
  right: 40px;
  top: 3px;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }
  @media (max-width: 1150px) {
    .cp-header__mobile-toggle {
      display: block; } }

.cp-header-burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 2px;
  background: #1e002a; }
  .cp-header-burger::before, .cp-header-burger::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #1e002a; }
  .cp-header-burger::before {
    top: -7px; }
  .cp-header-burger::after {
    bottom: -7px; }

.cp-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 48px; }
  @media (max-width: 1150px) {
    .cp-posts {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 800px) {
    .cp-posts {
      grid-template-columns: repeat(1, 1fr); } }
  .cp-posts__filter {
    margin: 32px 0 48px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 800px) {
      .cp-posts__filter {
        flex-direction: column; }
        .cp-posts__filter input[type="text"] {
          margin: 20px 0;
          width: 100%; } }

.cp-post {
  color: #1e002a;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-between; }
  .cp-post__image {
    height: 228px;
    object-fit: cover; }
  .cp-post__category {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 16px 0 10px; }
  .cp-post__title {
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    margin: 0 0 8px; }
  .cp-post--read {
    color: #b80e7fea; }
  .cp-post--watch {
    color: #481d6c; }
  .cp-post--listen {
    color: #d93f00; }

.cp-sign-up {
  background-color: rgba(35, 0, 63, 0.05);
  font-size: 18px;
  font-weight: 700;
  font-family: "Cabin", sans-serif;
  color: #1e002a;
  padding: 49px 20px; }
  .cp-sign-up .h-inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    @media (max-width: 1150px) {
      .cp-sign-up .h-inner-wrapper {
        flex-direction: column; } }
    @media (max-width: 800px) {
      .cp-sign-up .h-inner-wrapper {
        text-align: center; } }

.cp-footer {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  padding: 38px 20px;
  color: #1e002a; }
  .cp-footer .h-inner-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .cp-footer__nav {
    column-count: 4;
    width: 60%; }
    @media (max-width: 1150px) {
      .cp-footer__nav {
        width: 100%;
        order: 1; } }
    @media (max-width: 800px) {
      .cp-footer__nav {
        column-count: 2; } }
    .cp-footer__nav ul {
      margin: 0;
      padding: 0; }
    .cp-footer__nav li {
      list-style: none; }
  .cp-footer__nav-link {
    text-decoration: none;
    margin: 0 0 19px 0;
    display: inline-block; }
  .cp-footer__contact, .cp-footer__logos {
    width: 20%; }
    @media (max-width: 1150px) {
      .cp-footer__contact, .cp-footer__logos {
        width: 50%; } }
    @media (max-width: 800px) {
      .cp-footer__contact, .cp-footer__logos {
        width: 100%; } }
  @media (max-width: 1150px) {
    .cp-footer__nav {
      margin: 0 0 30px 0; }
    .cp-footer__contact {
      margin: 0 0 39px 0; }
    .cp-footer__contact {
      order: 2; }
    .cp-footer__logos {
      order: 3; } }
  .cp-footer__logo {
    width: 168px;
    margin: 0 0 24px 0; }
  .cp-footer__contact-link {
    display: inline-block;
    color: #1e002a;
    margin: 0 0 16px 0;
    text-decoration: none; }

.cp-social-block__icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: #1e002a; }

.h-outer-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }

.h-inner-wrapper {
  max-width: 1128px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 1150px) {
    .h-inner-wrapper {
      padding: 0 20px; } }

.h-screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important; }

.cp-main-content {
  margin-bottom: 50px; }
