.h-outer-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.h-inner-wrapper {
    max-width: 1128px;
    margin: 0 auto;
    position: relative;

    @include breakpoint('tablet') {
        padding: 0 20px;
    }
}