.cp-footer {
    font-family: $secondaryFont;
    font-weight: 700;
    padding: 38px 20px;
    color: $primary;

    .h-inner-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__nav {
        column-count: 4;
        width: 60%;

        @include breakpoint('tablet') {
            width: 100%;
            order: 1;
        }

        @include breakpoint('mobile') {
            column-count: 2;
        }

        ul {
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
        }
    }

    &__nav-link {
        text-decoration: none;
        margin: 0 0 19px 0;
        display: inline-block;
    }

    &__contact,
    &__logos {
        width: 20%;

        @include breakpoint('tablet') {
            width: 50%;
        }

        @include breakpoint('mobile') {
            width: 100%;
        }
    }

    @include breakpoint('tablet') {
        &__nav {
            margin: 0 0 30px 0;
        }
        &__contact {
            margin: 0 0 39px 0;
        }

        &__contact {
            order: 2;
        }

        &__logos {
            order: 3;
        }
    }

    &__logo {
        width: 168px;
        margin: 0 0 24px 0;
    }

    &__contact-link {
        display: inline-block;
        color: $primary;
        margin: 0 0 16px 0;
        text-decoration: none;
    }
}