.cp-header {
    background-color: $white;
    padding: 24px 0;

    .h-outer-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
    }

    &__navs {
        display: flex;

        @include breakpoint('tablet') {
            display: none;
        }
    }

    &__nav {
        ul {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
            margin: 0 32px 5px 0;

            &:last-of-type {
                margin: 0 0 5px 0;
            }
        }
    }

    &__icon-nav {
        li {
            margin: 0 5px;

            &:first-of-type {
                margin: 0 5px 0 15px;
            }

            &:last-of-type {
                margin: 0;;
            }
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__nav-link {
        text-decoration: none;
        font-size: 16px;
        font-family: $secondaryFont;
        font-weight: 700;
        color: $primary;

        &--secondary {
            font-size: 14px;
            font-weight: 400;
            color: #63566f;
        }
    }

    &__logo {
        width: 253px;
    }
}

.cp-header__mobile-toggle {
    display: none;
    position: absolute;
    width: 20px;
    height: 15px;
    right: 40px;
    top: 3px;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    @include breakpoint('tablet') {
        display: block;
    }
}
.cp-header-burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 2px;
    background: $primary;

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: $primary;
    }
    &::before {
        top: -7px;
    }
    &::after {
        bottom: -7px;
    }
}