.cp-masthead {
    padding-bottom: 105px;

    @include breakpoint('mobile') {
        .h-inner-wrapper {
            padding: 0;
        }
    }

    &__copy {
        position: absolute;
        color: $white;
        bottom: -105px;
        font-family: "Cabin", sans-serif;
        padding: 32px 48px 48px;
        background-color: rgba($primary, 0.9);
        z-index: 1;
        max-width: 535px;
        min-width: 535px;

        @include breakpoint('mobile') {
            position: relative;
            bottom: 0;
            max-width: none;
            min-width: auto;
            width: 100%;
            padding: 20px;
        }
    }

    &__title {
        font-size: 44px;
        margin: 0 0 1em;
    }
}