.cp-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 48px;

    @include breakpoint('tablet') {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint('mobile') {
        grid-template-columns: repeat(1, 1fr);
    }

    &__filter {
        margin: 32px 0 48px;
        display: flex;
        justify-content: space-between;

        @include breakpoint('mobile') {
            flex-direction: column;

            input[type="text"] {
                margin: 20px 0;
                width: 100%
            }
        }
    }
}

.cp-post {
    color: $primary;
    font-family: $primaryFont;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-between;

    &__image {
        height: 228px;
        object-fit: cover;
    }

    &__category {
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        margin: 16px 0 10px;
    }

    &__title {
        font-family: $secondaryFont;
        font-size: 18px;
        margin: 0 0 8px;
    }

    &--read {
        color: $postRead;
    }
    &--watch {
        color: $postWatch;
    }
    &--listen {
        color: $postListen;
    }
}