.cp-sign-up {
    background-color: rgba(#23003f, 0.05);
    font-size: 18px;
    font-weight: 700;
    font-family: $secondaryFont;
    color: $primary;
    padding: 49px 20px;

    .h-inner-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include breakpoint('tablet') {
            flex-direction: column;
        }

        @include breakpoint('mobile') {
            text-align: center;
        }
    }

}