.cp-cta {
    display: inline-block;
    font-family: $secondaryFont;
    font-weight: 700;
    padding: 13px 24px;
    font-size: 14px;
    border: 1px solid $primary;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out 0.1s;
    z-index: 0;

    &::before {
        content: '';
        position: absolute;
        background-color: $secondary;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        transition: left 0.3s ease-in-out, color 03s ease-in-out;
        z-index: -1;
    }

    &:hover {
        color: $white;
    }
    &:hover::before {
        left: 0;
    }

    &--alt {
        background-color: $tertiary;
        color: $primary;
    }
}