* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

input[type="text"] {
    padding: 13px 24px;
    border: 1px solid $primary;
}