$breakpoints: (
//  'desktop': 1000px,
 'tablet': 1150px,
 'mobile': 800px
);

@mixin breakpoint($breakpoint) {
 // If the key exists in the map
 @if map-has-key($breakpoints, $breakpoint) {
  // Prints a media query based on the value
  @media (max-width: map-get($breakpoints, $breakpoint)) {
  	@content
  }
 }
}